{% include base_path %}

{% assign title = post.title %}
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <p class="archive__item-title" itemprop="headline" style="font-weight: bold;">
      {{ title }}
    </p>

    <p>
      {% if post.paper %}
        <span style="display: inline-block; margin-right: 1em;">📄 <a href="{{ post.paper }}" target="_blank">Paper</a></span>
      {% endif %}
      {% if post.slide %}
        <span style="display: inline-block; margin-right: 1em;">🎞️ <a href="{{ post.slide }}" target="_blank">Slides</a></span>
      {% endif %}
      {% if post.code %}
        <span style="display: inline-block; margin-right: 1em;">💻 <a href="{{ post.code }}" target="_blank">Code</a></span>
      {% endif %}
    </p>

  </article>
</div>